@{
  Layout = "_Layout";
}

<title>@Model["stylist"].Name</title>

<div class="container">
  <div class="jumbotron">
    <h1>@Model["stylist"].Name</h1>
  </div>

  <div class="row">
    @* Clients List *@
    <div class="col-md-4">
      @if (Model["clients"].Count == 0)
      {
        <h3>No clients have been added yet!</h3>
      }

      @if(Model["clients"].Count != 0)
      {
        <h4>@Model["stylist"].Name's Clients:</h4>
        <ul>
          @foreach (var client in @Model["clients"])
          {
            <li>
              <a href="/stylists/@Model["stylist"].Id/clients/@client.Id"><button class="btn btn-info">@client.Name</button></a>
            </li>
          }
        </ul>
      }
    </div>

    @* Specialties list *@
    <div class="col-md-4">
      @if (Model["specialties"].Count == 0)
      {
        <h3>No specialties have been added yet!</h3>
      }

      @if(Model["specialties"].Count != 0)
      {
        <h4>@Model["stylist"].Name's Specialties:</h4>
        <ul>
          @foreach (var specialty in @Model["stylistSpecialties"])
          {
            <li>
              <a href="/specialties/@specialty.Id"><button class="btn btn-info">@specialty.Type</button></a>
            </li>
          }
        </ul>
      }
    </div>

    @* Add Specialty *@
    <div class="col-md-4">
      <h4>Add a stylist to this specialty:</h4>
      <form action='/stylists/@Model["stylist"].Id/specialties/new' method='post'>
        <label for='specialtyId'>Select a specialty</label>
        <select id='specialtyId' name='specialtyId' type='text'>
          @foreach (var specialty in @Model["specialties"])
          {
            <option value='@specialty.Id'>@specialty.Type</option>
          }
        </select>
        <button type='submit' class="btn btn-secondary">Add</button>
      </form>
    </div>
  </div>

  <hr>

  @* Nav Buttons *@
  <div class="text-center">
    <a href="/stylists/@Model["stylist"].Id/clients/new"><button class="btn btn-secondary">Add a new client</button></a> <a href="/stylists"><button class="btn btn-secondary">Return to the stylists list</button></a> <a href="/"><button class="btn btn-secondary">Return to the homepage</button></a>

    <hr>

    @* Edit *@
    <div class="row">
      <div class="col-md-6">
        <a href='/stylists/@Model["stylist"].Id/edit'><button class="btn btn-secondary">Edit this stylist</button></a>
      </div>

      @* Delete/Edit form *@
      <div class="col-md-6">
        <form action="/stylists/{stylistId}/delete" method="post">
          <input id='stylistId' name='stylistId' type='hidden' value='@Model["stylist"].Id'>
          <button type="submit" class="btn btn-danger">Delete stylist!</button>
        </form>
      </div>

    </div>
  </div>
