@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<title>@Model["specialty"].Type</title>

<div class="container">
  <div class="jumbotron">
    <h1>@Model["specialty"].Type specialists:</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      @if(Model.Count == 0)
      {
        <p>No stylists have been added yet!</p> // I can't figure out why this doesn't work
      }

      @if(Model.Count != 0)
      {
        <ul>
          @foreach (var stylist in @Model["specialtyStylists"])
          {
            <li>
              <a href="/stylists/@stylist.Id"><button class="btn btn-info">@stylist.Name</button></a>
            </li>
          }
        </ul>
      }
    </div>


    <div class="col-md-6">
      <h4>Add a stylist to this specialty:</h4>
      <form action='/specialties/@Model["specialty"].Id/stylists/new' method='post'>
        <label for='stylistId'>Select a stylist</label>
        <select id='stylistId' name='stylistId' type='text'>
          @foreach (var stylist in @Model["allStylists"])
          {
            <option value='@stylist.Id'>@stylist.Name</option>
          }
        </select>
        <button type='submit'>Add</button>
      </form>
    </div>
  </div>

  <hr>
  
  <div class="text-center">
  </a> <a href="/specialties"><button class="btn btn-secondary">Return to the specialties list</button></a> <a href="/stylists"><button class="btn btn-secondary">View stylists!</button></a> <a href="/"><button class="btn btn-secondary">Return to the homepage</button></a>
